<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>GW2-WvW-Datacollector</title>
        <link rel="stylesheet" href="../public/styles/index.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="module" src="public/js/ChartInitializer.js"></script>
    </head>
</html>
<body>
    <%- include('./navbar.ejs', {"selection" : selection}); %>
    <div style="display: flex; width: 1920px; height: 990px; align-content: space-evenly; flex-direction: row" id="chartContainer">
        <% switch (selection) {
        case 'vm' : %>
        <canvas id="victoryMetricsLineChart" title="line"></canvas>
        <canvas id="peakTimeLineChart" title="line" ></canvas>
        <% break;
        case 'db' : %>
        <div id="dashboardcharts" style="width: 100%; display: flex; flex-direction: row">
            <canvas id="victoryMetricsLineChart" title="line"></canvas>
            <canvas id="peakTimeLineChart" title="line"></canvas>
            <canvas id="peakTimeDoughnutChart" title="doughnut"></canvas>
            <canvas id="mapBonusesLineChart" title="line"></canvas>
            <canvas id="totalFlipsLineChart" title="line"></canvas>
        </div>
        <% break;
        case 'pt' : %>
        <canvas id="peakTimeLineChart" title="line" ></canvas>
        <canvas id="peakTimeDoughnutChart" title="doughnut"></canvas>
        <% break;
        case 'mb' : %>
        <canvas id="mapBonusesLineChart" title="line"></canvas>
        <canvas id="victoryMetricsLineChart" title="line"></canvas>
        <% break;
        case 'tp' : %>
        <canvas id="totalFlipsLineChart" title="line"></canvas>
        <% break;
        } %>
    </div>
</body>