<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>GW2-WvW-Datacollector-Dashboard</title>
        <link rel="stylesheet" href="../public/styles/index.css">
        <script type="module" src="public/js/test.js"></script>
    </head>
</html>
<body>
    <nav>
        <h1>GW2-WvW-Datacollector</h1>
    </nav>
    <canvas id="victoryMetricsLineChart"></canvas>
</body>