<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>GW2-WvW-Datacollector-Dashboard</title>
        <link rel="stylesheet" href="../public/styles/index.css">
        <script type="application/javascript" src="node_modules/chart.js/dist/chart.js"></script>
        <script type="module" src="../public/js/ChartInitializer.js"></script>
    </head>
</html>
<body>
    <%- include('./navbar.ejs', {"selection" : selection}); %>
    <div style="display: flex; width: 1920px; height: 990px; align-content: space-evenly; flex-direction: row" id="chartContainer">
        <% switch (selection) {
        case 'vm' : %>
        <canvas id="victoryMetricsLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="populationLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <% break;
        case 'db' : %>
        <canvas id="victoryMetricsLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="populationLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="peakTimeLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="mapBonusesDonutChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="totalFlipsLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <% break;
        case 'pt' : %>
        <canvas id="peakTimeLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="victoryMetricsLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <% break;
        case 'mb' : %>
        <canvas id="mapBonusesDonutChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="victoryPointsLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <% break;
        case 'tp' : %>
        <canvas id="totalFlipsLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <canvas id="populationLineChart" style="max-width: 45%; max-height: 80%"></canvas>
        <% break;
        } %>
    </div>
</body>