@import "./variables";

html {
    top: 0;
    margin: 0;
    background-color: $foregroundColour;

    body {
        top: 0;
        margin: 0;
        overflow: hidden;

        nav {
            background-color: $backgroundColour;
            color: $foregroundColour;
            padding: 1%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label {
                align-self: center;
            }

            form {
                align-self: center;
            }
        }

        #dashboardcharts {
            align-content: space-evenly;
            canvas {
                max-width: 16%;
            }
        }

        canvas {
            max-width: 45%;
            max-height: 80%
        }

    }
}